<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a.khalil.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon_logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">
        <activity android:name=".booksCategories.allBooks">
            <intent-filter>
                <action android:name="android.intent.action.allBooks" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Bag" />
        <activity android:name=".Profile">
            <intent-filter>
                <action android:name="android.intent.action.profile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".sign_in">
            <intent-filter>
                <action android:name="android.intent.action.signin" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".splash_activity"
            android:theme="@style/splashStyle">
            <intent-filter>
                <action android:name="android.intent.action.splash" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create_account">
            <intent-filter>
                <action android:name="android.intent.action.create_account" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>